#: Dies ist Konfigurationsdatei für die allgemeinen Daten des Feeds

title:
Red Hot

description:
Red Design

formats:
m4a mp3 opus

author:
McCouman

summary:
Ein Design in scharfroten Look.

image:
http://firtz.hoersuppe.de/feedimages/firtz.png

keywords:
hier eine, lange, kommagetrennte, stichwortliste

category:
Society & Culture -> Philosophy
Comedy
Technology -> Podcasting

email:
sach-ich-net@mailadresse.tld

language:
de-DE

explicit:
no

itunes:
https://itunes.apple.com/de/podcast/schall-und-rauch/id601805504

#: hast Du einen Account bei disqus? Dann hier den forumshortname (oder wie das heißt) rein.
disqus:
mccouman

flattrid:
#:mccouman

twitter:
#:mccouman

adn:
#:mccouman

licensename: 
CC BY-SA 3.0

licenseurl:
http://creativecommons.org/licenses/by-sa/3.0/de/

#:
#: Hier können Farben eingestellt werden!
#:

color:
#f00

dark:
#C70606

light:
#FFE3DF

background:
#FFFAFA

#:
#: Überschriften Farbe
#:

header:
#500

#:
#: jumbotron + icon
#:

jumbotron:
url('http://suche.wikibyte.org/img/jumbo-hot.jpg') top center repeat transparent;

jumbocolor:
#fff